/* Main layer */
@use './base';
@use './buttons';
@use '../keyframes';

:root ::-webkit-scrollbar-track {
    background-color: transparent;
}

body {
    &.bd-transparency {
        background: none;
    }

    #app-mount {
        background: none;

        .app_b1f720 {
            background-color: transparent;

            .app_de4237 {
                background: none;

                // LAYER MARGINS
                .layers__160d8 {
                    margin: var(--unity-dplus-spacing);
                    border-radius: var(--unity-island-radius);
                    overflow: hidden;
                    background-color: var(--unity-background-tertiary);
                }

                // BACKGROUND
                .bg__12180 {
                    
                    background: unset;
                        content: "";
                        width: 100vw;
                        height: 100vh;
                        display: block;
                        background-image: var(--unity-background-image, unset);
                        background-color: var(--unity-background-color, var(--background-tertiary));
                        background-blend-mode: multiply;
                        background-position: center;
                        /* blends background color and image if set */
                        background-size: cover;
                        background-repeat: no-repeat;
                        -webkit-backdrop-filter: blur(var(--unity-background-blur, 0));
                        backdrop-filter: blur(var(--unity-background-blur, 0));
                        z-index: -3;

                    }
                }
            }
        }
    }


.badge__63b33 {
    border-radius: var(--radius-round);
    padding: 2.5px 6px;
}