/* SIDEBAR */
@use './unread';
@use '../keyframes';

// DM List (Private Channels) 
[class*="privateChannels_"] {
    [class*="channel_"], [class*="interactive_"] {
        border-radius: calc(var(--unity-border-radius) - 8px);
        margin: 2px 0;
        
        // Ensure avatars are visible
        [class*="avatar_"] {
            display: flex !important;
            opacity: 1 !important;
            visibility: visible !important;
            margin-right: 8px;
            
            img {
                border-radius: calc(var(--unity-border-radius) - 12px);
            }
        }
    }
}


    .sidebar_e031be,
    .sidebar_e031be.hasNotice_cc284c {
        border-radius: var(--unity-border-radius);
        margin-right: var(--unity-dplus-spacing);
        margin-bottom: var(--unity-dplus-spacing);
        opacity: var(--unity-opacity, 1);
        overflow: hidden;
        background-color: var(--background-secondary);
        
        // Ensure child elements don't overlap rounded corners
        mask-image: linear-gradient(black, black);
        
        @at-root :root.theme-dark:not(.custom-theme-background) .scroller__89969 {
            background: var(--sidebar-background-color, var(--background-secondary));
        }

        &>nav,
        &.scrollerBase-_bVAAt {
            @at-root :root[class*="full-motion"] & {
                transition:
                    margin-bottom 2s keyframes.$cubic-bezier1,
                    border-radius 2s keyframes.$cubic-bezier-launch;
            }

            background-color: transparent;
            border-radius: var(--unity-border-radius);
            margin-bottom: var(--unity-dplus-spacing);
            
            &.scrollerBase-_bVAAt {
                padding: 10px 8px !important;
            }
        }
    }

    /* PANELS */
    [class*="panels_"] {
        width: calc(100% - var(--unity-dplus-spacing));
        margin-top: var(--unity-dplus-spacing);
        opacity: var(--unity-opacity, 1);
        border: none;
        overflow: hidden;
        border-radius: var(--unity-border-radius);
        background-color: var(--background-secondary);
        
        min-height: 48px;

        [class*="container_"] {
            height: 48px;
            padding: 0 8px;
        }

        [class*="avatarWrapper_"] {
            border-radius: calc(var(--unity-border-radius) - 4px);
            margin: 2px 4px;
            padding: 2px 4px;
            height: 36px;
        }
    }

    :root:not(.custom-theme-background) .container_debb33 {
        background: none;
    }